.vs/
x64/

CS161-Minesweeper\minesweeper\minesweeper.vcxproj
CS161-Minesweeper\minesweeper\minesweeper.vcxproj.filters
CS161-Minesweeper\minesweeper\minesweeper.vcxproj.user
CS161-Minesweeper\minesweeper\Resource.aps
CS161-Minesweeper\minesweeper\resource.h
CS161-Minesweeper\minesweeper\Resource.rc